
<div class="jumbotron">
    <div class="col-md-6 welcome">
        <h1>Welcome to TipTuity</h1>
        <p>The no cash, tipping solution. Tip a service professional by scanning a QR code. </p>
      <div class="col-md-3">
        <form>
          <h2> login or Sign up </h2>
          <span>Name</span>
          <input type="text" name="name" class="field" placeholder="Jane Doe" />
      </div>
      <div class="col-md-3">
          <span>Email</span>
          <input type="email" name="email" class="field" placeholder="Jane@mail.com" />
          <button id="submit-button" class="btn btn-success" type="submit"> Submit</button>
      </div>
        </form>
    </div>
  </div>
</div>
